[project]
name = "sequence"
version = "0.6.2.2"
description = "Simulator of QUantum Network Communication (SeQUeNCe) is an open-source tool that allows modeling of quantum networks including photonic network components, control protocols, and applications."
readme = "README.md"
requires-python = ">=3.8"

[project.urls]
homepage = "https://github.com/sequence-toolbox/SeQUeNCe"
documentation = "https://sequence-toolbox.github.io/"
issues = "https://github.com/sequence-toolbox/SeQUeNCe/issues"
