numpy>=2.1
scipy>=1.14.1
qutip>=5.0.4
qutip-qip>=0.4
matplotlib>=3.10
dash>=1.20.0
dash-core-components
dash-html-components
dash-bootstrap-components
dash-table
dash-cytoscape
plotly
pandas
tqdm>=4.54.0
networkx
pytest
jupyterlab
ipywidgets
gmpy2