name: CI Pipeline

on:
  push:
    branches: [master, RnD]
  pull_request:
    branches: [master, RnD]
  workflow_dispatch:

jobs:
  validation:
    if: github.repository == 'sequence-toolbox/SeQUeNCe'
    name: Run Unit Tests
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ['3.11', '3.12', '3.13']

    steps:
    - uses: actions/checkout@v4

    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v5
      with:
        python-version: ${{ matrix.python-version }}

    - name: Install dependencies
      run: |
        pip install pytest
        make setup
        make install

    - name: Test with pytest
      run: |
        make test